<table class="table table-bordered table-hover table-condensed"> 
<thead><tr><th title="Field #1">Posizione</th>
<th title="Field #2">Squadra</th>
<th title="Field #3">Punti</th>
</tr></thead>
<tbody>
<tr>
<td>1</td>
<td ><b>Juventus</b></td>
<td>114</td>
</tr>
<tr>
<td>2</td>
<td ><b>Napoli</b></td>
<td>108</td>
</tr>
<tr>
<td>3</td>
<td ><b>Inter</b></td>
<td>99</td>
</tr>
<tr>
<td>4</td>
<td ><b>Roma</b></td>
<td>99</td>
</tr>
<tr>
<td>5</td>
<td ><b>Lazio</b></td>
<td>90</td>
</tr>
<tr>
<td>6</td>
<td ><b>Atalanta</b></td>
<td>81</td>
</tr>
<tr>
<td>7</td>
<td ><b>Milan</b></td>
<td>75</td>
</tr>
<tr>
<td>8</td>
<td ><b>Fiorentina</b></td>
<td>72</td>
</tr>
<tr>
<td>9</td>
<td ><b>Torino</b></td>
<td>72</td>
</tr>
<tr>
<td>10</td>
<td ><b>Sampdoria</b></td>
<td>60</td>
</tr>
<tr>
<td>11</td>
<td ><b>Bologna</b></td>
<td>45</td>
</tr>
<tr>
<td>12</td>
<td ><b>Udinese</b></td>
<td>45</td>
</tr>
<tr>
<td>13</td>
<td ><b>Genoa</b></td>
<td>45</td>
</tr>
<tr>
<td>14</td>
<td ><b>Spal</b></td>
<td>39</td>
</tr>
<tr>
<td>15</td>
<td ><b>Crotone</b></td>
<td>27</td>
</tr>
<tr>
<td>16</td>
<td ><b>Chievo</b></td>
<td>27</td>
</tr>
<tr>
<td>17</td>
<td ><b>Cagliari</b></td>
<td>21</td>
</tr>
<tr>
<td>18</td>
<td ><b>Sassuolo</b></td>
<td>15</td>
</tr>
<tr>
<td>19</td>
<td ><b>Verona</b></td>
<td>3</td>
</tr>
<tr>
<td>20</td>
<td ><b>Benevento</b></td>
<td>3</td>
</tr></tbody></table>