<table class="table table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1">Squadra</th>
<th title="Field #2">Posizione reale</th>
<th title="Field #3">Punti reali</th>
<th title="Field #4">Posizione calcolata</th>
<th title="Field #5">Punti calcoalti</th>
<th title="Field #6">Differenza punti</th>
<th title="Field #7">Differenza posizione</th>
</tr></thead>
<tbody><tr>
<td>Juventus</td>
<td align="right">1</td>
<td align="right">95</td>
<td align="right">1</td>
<td align="right">114</td>
<td align="right">19</td>
<td align="right">0</td>
</tr>
<tr>
<td>Napoli</td>
<td align="right">2</td>
<td align="right">91</td>
<td align="right">2</td>
<td align="right">108</td>
<td align="right">17</td>
<td align="right">0</td>
</tr>
<tr>
<td>Roma</td>
<td align="right">3</td>
<td align="right">77</td>
<td align="right">4</td>
<td align="right">99</td>
<td align="right">22</td>
<td align="right">1</td>
</tr>
<tr>
<td>Lazio</td>
<td align="right">4</td>
<td align="right">72</td>
<td align="right">5</td>
<td align="right">90</td>
<td align="right">18</td>
<td align="right">1</td>
</tr>
<tr>
<td>Inter</td>
<td align="right">5</td>
<td align="right">72</td>
<td align="right">3</td>
<td align="right">99</td>
<td align="right">27</td>
<td align="right">-2</td>
</tr>
<tr>
<td>Milan</td>
<td align="right">6</td>
<td align="right">64</td>
<td align="right">7</td>
<td align="right">75</td>
<td align="right">11</td>
<td align="right">1</td>
</tr>
<tr>
<td>Atalanta</td>
<td align="right">7</td>
<td align="right">60</td>
<td align="right">6</td>
<td align="right">81</td>
<td align="right">21</td>
<td align="right">-1</td>
</tr>
<tr>
<td>Fiorentina</td>
<td align="right">8</td>
<td align="right">57</td>
<td align="right">8</td>
<td align="right">72</td>
<td align="right">15</td>
<td align="right">0</td>
</tr>
<tr>
<td>Torino</td>
<td align="right">9</td>
<td align="right">54</td>
<td align="right">9</td>
<td align="right">72</td>
<td align="right">18</td>
<td align="right">0</td>
</tr>
<tr>
<td>Sampdoria</td>
<td align="right">10</td>
<td align="right">54</td>
<td align="right">10</td>
<td align="right">60</td>
<td align="right">6</td>
<td align="right">0</td>
</tr>
<tr>
<td>Sassuolo</td>
<td align="right">11</td>
<td align="right">43</td>
<td align="right">18</td>
<td align="right">15</td>
<td align="right">-28</td>
<td align="right">7</td>
</tr>
<tr>
<td>Genoa</td>
<td align="right">12</td>
<td align="right">41</td>
<td align="right">13</td>
<td align="right">45</td>
<td align="right">4</td>
<td align="right">1</td>
</tr>
<tr>
<td>Udinese</td>
<td align="right">13</td>
<td align="right">40</td>
<td align="right">12</td>
<td align="right">45</td>
<td align="right">5</td>
<td align="right">-1</td>
</tr>
<tr>
<td>Chievo</td>
<td align="right">14</td>
<td align="right">40</td>
<td align="right">16</td>
<td align="right">27</td>
<td align="right">-13</td>
<td align="right">2</td>
</tr>
<tr>
<td>Bologna</td>
<td align="right">15</td>
<td align="right">39</td>
<td align="right">11</td>
<td align="right">45</td>
<td align="right">6</td>
<td align="right">-4</td>
</tr>
<tr>
<td>Cagliari</td>
<td align="right">16</td>
<td align="right">39</td>
<td align="right">17</td>
<td align="right">21</td>
<td align="right">-18</td>
<td align="right">1</td>
</tr>
<tr>
<td>Spal</td>
<td align="right">17</td>
<td align="right">38</td>
<td align="right">14</td>
<td align="right">39</td>
<td align="right">1</td>
<td align="right">-3</td>
</tr>
<tr>
<td>Crotone</td>
<td align="right">18</td>
<td align="right">35</td>
<td align="right">15</td>
<td align="right">27</td>
<td align="right">-8</td>
<td align="right">-3</td>
</tr>
<tr>
<td>Verona</td>
<td align="right">19</td>
<td align="right">25</td>
<td align="right">19</td>
<td align="right">3</td>
<td align="right">-22</td>
<td align="right">0</td>
</tr>
<tr>
<td>Benevento</td>
<td align="right">20</td>
<td align="right">21</td>
<td align="right">20</td>
<td align="right">3</td>
<td align="right">-18</td>
<td align="right">0</td>
</tr>
</tbody></table>