
<html>
	<head>
	
    <style>
body {
  font-family: Verdana;
}

.chartdiv {
  width: 100%;
  height: 500px;
  font-size: 13px;
}


.type-selector {
font-size: 13px;
display: inline;
}

.type-selector label {
display: flex;
  cursor: pointer;
 font-size: 12px;
}		
	</style>	
	
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/dataloader/dataloader.min.js"></script>
<div class="type-selector">
  <label><input type="radio" name="type" value="chartData_home" onclick="setType(this.value);" checked="checked" /> <b>Casa</b></label>
  <label><input type="radio" name="type" value="chartData_away" onclick="setType(this.value);" /> <b>Trasferta</b></label>
</div>


		

		<!-- amCharts javascript code -->
		<script type="text/javascript">






// create serial chart
var chart = AmCharts.makeChart("chartdiv", {
	"type": "serial",
	"dataLoader": {"url": "https://raw.githubusercontent.com/infographitaly/infographitaly.github.io/master/_data/prova/json_home.json",
	"load": function ( options, chart ) {
        console.log( 'Loaded file: ' + options.url );
      }},
	"balloon": {
				"adjustBorderColor": false,
				"horizontalPadding": 10,
				"verticalPadding": 8,
				"color": "#ffffff"},
	"graphs": [
		{"animationPlayed": true,
		"balloonText": "[[title]]: [[value]]",
		"id": "AmGraph-2",
		"fillAlphas": 0.8,
		"title": "Teorici",
		"type": "column",
		"valueField": "Teorici"},
		
		{"animationPlayed": true,
		"balloonText": "[[title]]: [[value]]",
		"id": "AmGraph-1",
		"lineThickness": 3,
		"bulletSize": 7,
		"bulletBorderAlpha": 1,
		"bulletBorderThickness": 3,
		"fillAlphas": 0,
		"lineAlpha": 1,
		"title": "Osservati",
		"type": "line",
		"valueField": "Osservati",
		"bullet": "round"}
			],
	"valueAxes": [
		{
			"id": "ValueAxis-1",
			"title": "Frequenza Gol",
			"titleFontSize": 13,
			"titleRotation": 270
		}],
	"categoryAxis": {"title": "Numero Gol"},
	"legend":[
		{                       
		"useGraphSettings": false,
		"verticalGap":0,
		}],
	"titles": [
		{
			"id": "Title-1",
			"size": 15,
			"text": "Valori osservati Vs teorici"
		}],
	"startDuration": 1,
	"gridAboveGraphs": true,
	"categoryField": "Categoria",
});




function setType(data) {
  switch (data) {
    case 'chartData_home':
		chart.dataLoader.url = "https://raw.githubusercontent.com/infographitaly/infographitaly.github.io/master/_data/prova/json_home.json";
		/*chart.dataLoader.loadData()*/
		console.log(chart.dataLoader);
		chart.validateNow();

    case 'chartData_away':
		chart.dataLoader.url = "https://raw.githubusercontent.com/infographitaly/infographitaly.github.io/master/_data/prova/json_away.json";
		/*chart.dataLoader.loadData()*/
		console.log(chart.dataLoader);
		chart.validateNow();
		

  }


  document.getElementById('chartdiv').style.display = 'block';
  chart.invalidateSize();
  chart.animateAgain();
}
						
		
		
		

				

		</script>
	</head>
	<body>
<div id="chartdiv1" class="chartdiv1"></div>
	</body>
</html>