<table class="table table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1">Generalized Linear Model Regression Results</th>
<th title="Field #2"></th>
<th title="Field #3"></th>
<th title="Field #4"></th>
</tr></thead>
<tbody><tr>
<td>Dep. Variable:</td>
<td>goals</td>
<td>No. Observations:</td>
<td>760</td>
</tr>
<tr>
<td>Model:</td>
<td>GLM</td>
<td>Df Residuals:</td>
<td>720</td>
</tr>
<tr>
<td>Model Family:</td>
<td>Poisson</td>
<td>Df Model:</td>
<td>39</td>
</tr>
<tr>
<td>Link Function:</td>
<td>log</td>
<td>Scale:</td>
<td>10.000</td>
</tr>
<tr>
<td>Method:</td>
<td>IRLS</td>
<td>Log-Likelihood:</td>
<td>-1046.0</td>
</tr>
<tr>
<td>Date:</td>
<td>Mon, 15 Oct 2018</td>
<td>Deviance:</td>
<td>774.00</td>
</tr>
<tr>
<td>Time:</td>
<td>23:54:23</td>
<td>Pearson chi2:</td>
<td>668.</td>
</tr>
<tr>
<td>No. Iterations:</td>
<td>5</td>
<td>Covariance Type:</td>
<td>nonrobust</td>
</tr>
</tbody></table>