---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    text-align: center;
}
.dida_right {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif !important;
    float: right;
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 1.3em;
    width: 50%;
    margin-right: 0px !important;
    padding: 0px 30px;
    padding-right: 0px;
    border-left: 5px solid #EEE;
    font-weight: 600;
}